In [2]:
import json
import mysql.connector
import pandas as pd

from IPython.display import display, Markdown, HTML

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="secret",
    port="3306",
    database="serlo",
    charset="latin1"
)

def query(sql):
    c = db.cursor()
    c.execute(sql)
    
    return c.fetchall()

def querySingleton(sql):
    return [ x[0] for x in query(sql) ]

/home/kulla/.local/share/asdf/installs/python/3.9.1/lib/python3.9/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [17]:
pd.read_sql("""
            SELECT event_paramater_uuid.*
                    FROM notification n
                    JOIN notification_event e ON n.id = e.notification_id
                    JOIN event_log on event_log.id = e.event_log_id
                    LEFT JOIN event_parameter ON event_parameter.log_id = event_log.id
                    LEFT JOIN event_parameter_string ON event_parameter_string.event_parameter_id = event_parameter.id
                    #LEFT JOIN event_parameter_uuid ON
                    #  event_parameter_uuid.event_parameter_id = event_parameter.id
                    #LEFT JOIN uuid uuid2 on uuid2.id = event_parameter_uuid.uuid_id
                    #LEFT JOIN entity entity2 on entity2.id = event_parameter_uuid.uuid_id
                    WHERE event_log.id = 205108
                    AND event_parameter_string.value IS NULL
                      AND n.user_id = 73435
                    ORDER BY n.date DESC, n.id DESC

""", db)

DatabaseError: Execution failed on sql '
            SELECT event_paramater_uuid.*
                    FROM notification n
                    JOIN notification_event e ON n.id = e.notification_id
                    JOIN event_log on event_log.id = e.event_log_id
                    LEFT JOIN event_parameter ON event_parameter.log_id = event_log.id
                    LEFT JOIN event_parameter_string ON event_parameter_string.event_parameter_id = event_parameter.id
                    #LEFT JOIN event_parameter_uuid ON
                    #  event_parameter_uuid.event_parameter_id = event_parameter.id
                    #LEFT JOIN uuid uuid2 on uuid2.id = event_parameter_uuid.uuid_id
                    #LEFT JOIN entity entity2 on entity2.id = event_parameter_uuid.uuid_id
                    WHERE event_log.id = 205108
                    AND event_parameter_string.value IS NULL
                      AND n.user_id = 73435
                    ORDER BY n.date DESC, n.id DESC

': 1051 (42S02): Unknown table 'event_paramater_uuid'