In [49]:
import mysql.connector

from IPython.display import display, Markdown, HTML

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="secret",
    port="3306",
    database="serlo",
    charset="latin1"
)

def query(sql):
    c = db.cursor()
    c.execute(sql)
    
    return c.fetchall()

def querySingleton(sql):
    return [ x[0] for x in query(sql) ]

In [50]:
def query_subjects():
    return query("""
        select term_taxonomy.id, instance.subdomain, term.name
        from term_taxonomy
        join term on term.id = term_taxonomy.term_id
        join term_taxonomy p on p.id = term_taxonomy.parent_id
        join instance on instance.id = term.instance_id
        where p.parent_id is NULL
            or term_taxonomy.parent_id in (106081);
    """)

query_subjects()

[(5, 'de', 'Mathe'),
 (8, 'de', 'Blog'),
 (15465, 'de', 'Mathematik Forum'),
 (17744, 'de', 'Nachhaltigkeit'),
 (17746, 'de', 'Permakultur Forum'),
 (18230, 'de', 'Chemie'),
 (18234, 'de', 'Chemie Forum'),
 (20605, 'de', 'Nutzerprofile, Hilfe, Community und Allgemeines'),
 (20769, 'de', 'Communityseiten - faecheruebergreifend'),
 (23362, 'de', 'Biologie'),
 (23382, 'de', 'Biologie Forum'),
 (23778, 'de', 'Mathematik Forum - test'),
 (24798, 'de', 'dev:blog'),
 (25078, 'de', 'Mathematik Blog'),
 (25712, 'de', 'Deutsch als Fremdsprache'),
 (25979, 'de', 'Englisch'),
 (26523, 'de', 'Betriebswirtschaftslehre mit Rechnungswesen'),
 (26876, 'de', 'Englisch Forum'),
 (26882, 'de', 'Deutsch als Fremdsprache Forum'),
 (33894, 'de', 'Latein'),
 (41107, 'de', 'Physik'),
 (41115, 'de', 'Physik Forum'),
 (47899, 'de', 'Informatik'),
 (59918, 'de', 'Musik'),
 (79159, 'de', 'Politik'),
 (87993, 'de', 'Community'),
 (93176, 'de', 'Testbereich'),
 (181883, 'de', 'Lerntipps'),
 (23593, 'en', 'math'),
 (48415, 'en', 'Music'),
 (48416, 'en', 'Sustainability'),
 (48537, 'en', 'Community'),
 (48703, 'en', 'Test'),
 (78339, 'en', 'Sex Education'),
 (93277, 'en', 'test area'),
 (106083, 'de', 'Medienbildung'),
 (106084, 'de', 'Geographie'),
 (106085, 'de', 'Latein'),
 (106086, 'de', 'Psychologie'),
 (107556, 'de', 'Politik'),
 (107557, 'de', 'Englisch'),
 (107559, 'de', 'Rechnungswesen'),
 (112723, 'de', 'Deutsch als Zweit- und Fremdsprache'),
 (113127, 'de', 'English for Spanish Natives'),
 (117970, 'de', 'Methodenkiste'),
 (132398, 'de', 'Recht'),
 (136362, 'de', 'Geschichte'),
 (137757, 'de', 'Wirtschaft'),
 (163632, 'de', 'Pschologie'),
 (167849, 'de', 'Musik'),
 (173235, 'de', 'Kommunikation'),
 (190109, 'de', 'Spanisch'),
 (195927, 'de', 'Forensik'),
 (198076, 'de', 'Italienisch'),
 (208736, 'de', 'Religion'),
 (140526, 'ta', 'Community'),
 (140527, 'ta', 'à®\x87à®²à®\x95à¯\x8dà®\x95à®£à®®à¯\x8d'),
 (140528, 'ta', 'à®µà®°à®²à®¾à®±à¯\x81'),
 (148669, 'ta', 'à®\x85à®\x95à®°à®¾à®¤à®¿'),
 (164234, 'es', 'Community'),
 (166741, 'es', 'Forum category ensayo'),
 (166742, 'es', 'Blog ensayo'),
 (169580, 'es', 'MatemÃ¡ticas'),
 (167836, 'hi', 'à¤¸à¤®à¥\x81à¤¦à¤¾à¤¯'),
 (167883, 'hi', 'Community'),
 (141587, 'fr', 'mathÃ©matiques'),
 (141588, 'fr', 'community'),
 (141607, 'fr', 'nouvelles matiÃ¨res'),
 (148619, 'fr', 'Conseils pour apprendre')]

In [52]:
bytes('à®\x87à®²à®\x95à¯\x8dà®\x95à®£à®®à¯\x8d', "latin1").decode("utf8")

'இலக்கணம்'

In [15]:
children = {}

for (child_id, parent_id) in query("""select id, parent_id from term_taxonomy;"""):
    if parent_id not in children:
        children[parent_id] = []
    children[parent_id].append(child_id)

children[5]

[1288,
 1289,
 1290,
 1334,
 1339,
 1385,
 1390,
 1397,
 1421,
 16030,
 16063,
 22763,
 22765,
 22951,
 43972,
 44323,
 146728]

In [12]:
entities = {}

for (entity_id, type_name, term_id) in query("""select entity.id, type.name, term_taxonomy_entity.term_taxonomy_id  from term_taxonomy_entity join uuid on uuid.id = term_taxonomy_entity.entity_id join entity on entity.id = term_taxonomy_entity.entity_id join type on type.id
= entity.type_id where uuid.trashed = 0;"""):
    if term_id not in entities:
        entities[term_id] = []
    entities[term_id].append({"id": entity_id, "type": type_name})

entities[24370]

[{'id': 1541, 'type': 'article'},
 {'id': 1543, 'type': 'article'},
 {'id': 1873, 'type': 'article'},
 {'id': 1925, 'type': 'article'},
 {'id': 1949, 'type': 'article'},
 {'id': 35663, 'type': 'article'},
 {'id': 35776, 'type': 'article'},
 {'id': 35866, 'type': 'article'},
 {'id': 35990, 'type': 'text-exercise'},
 {'id': 35991, 'type': 'article'},
 {'id': 36070, 'type': 'article'},
 {'id': 82288, 'type': 'video'},
 {'id': 82294, 'type': 'video'},
 {'id': 82296, 'type': 'video'},
 {'id': 83579, 'type': 'video'}]

In [16]:
def all_entities(term_id):
    if term_id in entities:
        yield from entities[term_id]
        
    if term_id in children:
        for child_id in children[term_id]:
            yield from all_entities(child_id)

list(all_entities(3))[:5]

[{'id': 78176, 'type': 'video'},
 {'id': 1685, 'type': 'article'},
 {'id': 36226, 'type': 'text-exercise'},
 {'id': 44840, 'type': 'video'},
 {'id': 55761, 'type': 'article'}]

In [29]:
import pandas as pd

def df_count_types(subject_id):
    df = pd.DataFrame(all_entities(subject_id))
    if len(df) == 0:
        return df
    df = df.groupby("id").first()
    df.reset_index(inplace=True)
    df = df.groupby("type").count()
    df.rename(columns={"id": "count"}, inplace=True)
    return df

df_count_types(3)

                     count
type
applet                 118
article               2374
course                 432
event                   18
math-puzzle             67
text-exercise         3548
text-exercise-group   1757
video                  418

In [54]:
from IPython.display import display, Markdown

def fix_encoding(title):
    return bytes(title, "latin1").decode("utf8")

for (subject_id, instance, name_unfixed) in query_subjects():
    name = fix_encoding(name_unfixed)
    display(Markdown(f"# {instance}: {name} (/{subject_id})"))
    display(df_count_types(subject_id))

# de: Mathe (/5)

                     count
type
applet                 113
article                801
course                 143
event                    1
math-puzzle             63
text-exercise         2950
text-exercise-group   1530
video                  335

# de: Blog (/8)

Empty DataFrame
Columns: []
Index: []

# de: Mathematik Forum (/15465)

Empty DataFrame
Columns: []
Index: []

# de: Nachhaltigkeit (/17744)

                     count
type
article                145
course                  51
text-exercise           59
text-exercise-group     22
video                   30

# de: Permakultur Forum (/17746)

Empty DataFrame
Columns: []
Index: []

# de: Chemie (/18230)

                     count
type
article                219
course                  23
text-exercise           86
text-exercise-group     27
video                   11

# de: Chemie Forum (/18234)

Empty DataFrame
Columns: []
Index: []

# de: Nutzerprofile, Hilfe, Community und Allgemeines (/20605)

Empty DataFrame
Columns: []
Index: []

# de: Communityseiten - faecheruebergreifend (/20769)

Empty DataFrame
Columns: []
Index: []

# de: Biologie (/23362)

                     count
type
article                221
course                   7
text-exercise           44
text-exercise-group     10
video                    2

# de: Biologie Forum (/23382)

Empty DataFrame
Columns: []
Index: []

# de: Mathematik Forum - test (/23778)

Empty DataFrame
Columns: []
Index: []

# de: dev:blog (/24798)

Empty DataFrame
Columns: []
Index: []

# de: Mathematik Blog (/25078)

Empty DataFrame
Columns: []
Index: []

# de: Deutsch als Fremdsprache (/25712)

                     count
type
article                141
course                  48
text-exercise           19
text-exercise-group      6
video                    1

# de: Englisch (/25979)

                     count
type
article                 11
course                   1
text-exercise            1
text-exercise-group      1

# de: Betriebswirtschaftslehre mit Rechnungswesen (/26523)

               count
type
article            1
text-exercise      1

# de: Englisch Forum (/26876)

Empty DataFrame
Columns: []
Index: []

# de: Deutsch als Fremdsprache Forum (/26882)

Empty DataFrame
Columns: []
Index: []

# de: Latein (/33894)

Empty DataFrame
Columns: []
Index: []

# de: Physik (/41107)

                     count
type
article                 61
course                   5
text-exercise           34
text-exercise-group     16
video                    3

# de: Physik Forum (/41115)

Empty DataFrame
Columns: []
Index: []

# de: Informatik (/47899)

                     count
type
article                158
course                  53
text-exercise           63
text-exercise-group     70
video                    7

# de: Musik (/59918)

         count
type
article      2

# de: Politik (/79159)

               count
type
article            1
course             4
text-exercise     23

# de: Community (/87993)

                     count
type
applet                   5
article                601
course                  79
event                   17
math-puzzle              3
text-exercise          257
text-exercise-group     74
video                   29

# de: Testbereich (/93176)

                     count
type
article                  5
course                   3
math-puzzle              1
text-exercise            1
text-exercise-group      2

# de: Lerntipps (/181883)

               count
type
article           13
course            15
text-exercise     10

# en: math (/23593)

Empty DataFrame
Columns: []
Index: []

# en: Music (/48415)

Empty DataFrame
Columns: []
Index: []

# en: Sustainability (/48416)

Empty DataFrame
Columns: []
Index: []

# en: Community (/48537)

                     count
type
article                152
course                  23
math-puzzle              1
text-exercise           17
text-exercise-group     24
video                   11

# en: Test (/48703)

Empty DataFrame
Columns: []
Index: []

# en: Sex Education (/78339)

        count
type
course      1
video       1

# en: test area (/93277)

             count
type
article          1
math-puzzle      1

# de: Medienbildung (/106083)

                     count
type
article                  4
course                  13
text-exercise           31
text-exercise-group      3
video                    9

# de: Geographie (/106084)

               count
type
article           54
course             3
text-exercise     14

# de: Latein (/106085)

                     count
type
article                 38
text-exercise-group      6

# de: Psychologie (/106086)

         count
type
article      7

# de: Politik (/107556)

        count
type
course      2
video       1

# de: Englisch (/107557)

                     count
type
article                 33
course                   2
text-exercise           20
text-exercise-group      7
video                    1

# de: Rechnungswesen (/107559)

         count
type
article      1

# de: Deutsch als Zweit- und Fremdsprache (/112723)

                     count
type
course                   2
text-exercise            1
text-exercise-group      1

# de: English for Spanish Natives (/113127)

        count
type
course      1

# de: Methodenkiste (/117970)

         count
type
article      1
course       1

# de: Recht (/132398)

               count
type
article            1
text-exercise      1

# de: Geschichte (/136362)

             count
type
article          9
course           2
math-puzzle      1

# de: Wirtschaft (/137757)

                     count
type
article                 31
course                   4
text-exercise           32
text-exercise-group      5

# de: Pschologie (/163632)

Empty DataFrame
Columns: []
Index: []

# de: Musik (/167849)

         count
type
article      1
course       2

# de: Kommunikation (/173235)

         count
type
article      3
course       1

# de: Spanisch (/190109)

Empty DataFrame
Columns: []
Index: []

# de: Forensik (/195927)

               count
type
applet             1
article            6
course             3
text-exercise      1
video              2

# de: Italienisch (/198076)

                     count
type
article                 26
text-exercise            1
text-exercise-group      3

# de: Religion (/208736)

Empty DataFrame
Columns: []
Index: []

# ta: Community (/140526)

Empty DataFrame
Columns: []
Index: []

# ta: இலக்கணம் (/140527)

                     count
type
applet                   2
article                 49
course                   5
text-exercise           55
text-exercise-group     28
video                    1

# ta: வரலாறு (/140528)

                     count
type
article                 10
text-exercise            1
text-exercise-group     10

# ta: அகராதி (/148669)

Empty DataFrame
Columns: []
Index: []

# es: Community (/164234)

                     count
type
applet                   1
article                 67
course                  19
math-puzzle              3
text-exercise            4
text-exercise-group      5
video                   16

# es: Forum category ensayo (/166741)

Empty DataFrame
Columns: []
Index: []

# es: Blog ensayo (/166742)

Empty DataFrame
Columns: []
Index: []

# es: Matemáticas (/169580)

                     count
type
applet                  13
article                 76
course                   4
text-exercise           14
text-exercise-group     44
video                   19

# hi: समुदाय (/167836)

Empty DataFrame
Columns: []
Index: []

# hi: Community (/167883)

         count
type
article      1

# fr: mathématiques (/141587)

               count
type
article           11
course             1
math-puzzle        2
text-exercise      2

# fr: community (/141588)

Empty DataFrame
Columns: []
Index: []

# fr: nouvelles matières (/141607)

Empty DataFrame
Columns: []
Index: []

# fr: Conseils pour apprendre (/148619)

         count
type
article      5
course       3

In [57]:
def save(subject_id, name):
    df = pd.DataFrame(all_entities(subject_id))
    df = df.groupby("id").first()
    df.to_csv(f"/tmp/{name}.csv")

save(41107, "physik")
save(47899, "informatik")