In [22]:
import json
import requests

uuid_id = 70696
wrong_responses = []

def isInvalidUuidId(uuid_id):
    return uuid_id > 1e7

def isInvalidUuid(uuid):
    if uuid.get("__typename") != "Article":
        return True
    if not uuid.get("alias", "").startswith("/biologie/70696/"):
        return True
    if isInvalidUuidId(uuid.get("id", 1e8)):
        return True
    if isInvalidUuidId(uuid.get("currentRevisionId", 1e8)):
        return True
    if any([isInvalidUuidId(i) for i in uuid.get("taxonomyTermIds", [1e8])]):
        return True
    if any([isInvalidUuidId(i) for i in uuid.get("revisionIds", [1e8])]):
        return True
    
    return False    

def uuidQuery(id):
    req = requests.post("http://localhost:8000/", json={
        "type": "UuidQuery",
        "payload": { "id": id },
    })
    
    return (req, req.json())

isInvalidUuid(uuidQuery(uuid_id)[1])

False

In [28]:
def doTest():
    while True:
        req, uuid = uuidQuery(uuid_id)
        
        if isInvalidUuid(uuid):
            print("Found wrong response!!!")
            wrong_responses.append(req)

doTest()

KeyboardInterrupt:

In [24]:
wrong_responses

[]

# Was ist wÃ¤hrend dem Speichern passiert?

In [37]:
import pandas as pd
import numpy as np
import mysql.connector

from IPython.display import display, Markdown, HTML

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="secret",
    port="3306",
    database="serlo"
)

def to_timestamp(x):
    print(type(x))
    return 1

def read_event_log():
    df = pd.read_sql("""
        select * from event_log
        where year(event_log.date) > 2020
    """, db)
    return df
    
event_log = read_event_log()

In [63]:
from datetime import datetime

dates = [
1613960785133,
1613980997547,
1613980998190,
1613980998831,
1613979302609,
1613957901525,
1613979300175,
1613980995754,
]

ts = [pd.Timestamp.fromtimestamp(i/1000) for i in dates]

def search(t, delta = pd.Timedelta(60, "min")):
    display(Markdown(f"# Time of saving: {t}"))
    display(t)
    
    r = event_log[(event_log["date"] - t < delta) &
                  (t - event_log["date"] < delta)]
    
    display(r)

for t in ts:
    search(t)

# Time of saving: 2021-02-22 03:26:25.133000

Timestamp('2021-02-22 03:26:25.133000')

Empty DataFrame
Columns: [id, actor_id, event_id, uuid_id, instance_id, date]
Index: []

# Time of saving: 2021-02-22 09:03:17.547000

Timestamp('2021-02-22 09:03:17.547000')

           id  actor_id  event_id  uuid_id  instance_id                date
11332  375016    146133         6   195405            1 2021-02-22 09:32:09
11333  375017    146133         6   195357            1 2021-02-22 09:31:54
11334  375018    146133         9   195439            1 2021-02-22 09:38:27

# Time of saving: 2021-02-22 09:03:18.190000

Timestamp('2021-02-22 09:03:18.190000')

           id  actor_id  event_id  uuid_id  instance_id                date
11332  375016    146133         6   195405            1 2021-02-22 09:32:09
11333  375017    146133         6   195357            1 2021-02-22 09:31:54
11334  375018    146133         9   195439            1 2021-02-22 09:38:27

# Time of saving: 2021-02-22 09:03:18.831000

Timestamp('2021-02-22 09:03:18.831000')

           id  actor_id  event_id  uuid_id  instance_id                date
11332  375016    146133         6   195405            1 2021-02-22 09:32:09
11333  375017    146133         6   195357            1 2021-02-22 09:31:54
11334  375018    146133         9   195439            1 2021-02-22 09:38:27

# Time of saving: 2021-02-22 08:35:02.609000

Timestamp('2021-02-22 08:35:02.609000')

           id  actor_id  event_id  uuid_id  instance_id                date
11332  375016    146133         6   195405            1 2021-02-22 09:32:09
11333  375017    146133         6   195357            1 2021-02-22 09:31:54

# Time of saving: 2021-02-22 02:38:21.525000

Timestamp('2021-02-22 02:38:21.525000')

Empty DataFrame
Columns: [id, actor_id, event_id, uuid_id, instance_id, date]
Index: []

# Time of saving: 2021-02-22 08:35:00.175000

Timestamp('2021-02-22 08:35:00.175000')

           id  actor_id  event_id  uuid_id  instance_id                date
11332  375016    146133         6   195405            1 2021-02-22 09:32:09
11333  375017    146133         6   195357            1 2021-02-22 09:31:54

# Time of saving: 2021-02-22 09:03:15.754000

Timestamp('2021-02-22 09:03:15.754000')

           id  actor_id  event_id  uuid_id  instance_id                date
11332  375016    146133         6   195405            1 2021-02-22 09:32:09
11333  375017    146133         6   195357            1 2021-02-22 09:31:54
11334  375018    146133         9   195439            1 2021-02-22 09:38:27